<template>
    <div>

        <!-- Modal -->
        <div class="modal fade" id="openModalGameAdd" tabindex="-1" role="dialog" aria-labelledby="openModalGameAdd" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Game</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="save" novalidate="true">

                        <div class="modal-body">

                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label>Team Home</label>
                                        <multiselect v-model="form.team_a_id" :options="options" label="name" :searchable="true" :show-labels="false"></multiselect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Goals Home</label>
                                        <input type="number" v-model="form.team_a_goals" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label>Team Away</label>
                                        <multiselect v-model="form.team_b_id" :options="options" label="name" :searchable="true" :show-labels="false"></multiselect>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Goals Away</label>
                                        <input type="number" v-model="form.team_b_goals" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Loading -->
                            <loading v-show="loading"></loading>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Game</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    props: [
        'mainRoute',
        'id'
    ],
    data() {
        return {
            loading: false,
            data: {},
            options: [],
            form: {
                team_a_id: null,
                team_b_id: null,
                team_a_goals: 0,
                team_b_goals: 0,
            }
        }
    },
    mounted() {
        this.load()
    },
    methods: {
        load() {
            this.loading = true
            axios
                .get('/championships/' + this.id + '/teams/participanting')
                .then(result => {
                    this.data = result.data
                    this.options = result.data.teams
                })
                .finally(result => { this.loading = false })
        },
        save() {
            if (confirm('Do you really add this game?')) {
                this.loading = true
                axios
                    .post('/championships/' + this.id + '/games', this.form)
                    .then(result => {
                        $('#openModalGameAdd').modal('hide')
                        // update game list on screen
                        this.$parent.$emit('att-list-games');
                    })
                    .finally(result => { this.loading = false })
            }
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>

</style>
