<template>
    <div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a :href="mainRoute">Championships</a></li>
                            <li class="breadcrumb-item active">{{ data.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- NavBar-->
            <championship-navbar active="games" :main-route="mainRoute" :id="id"></championship-navbar>

            <div class="card">
                <div class="card-body">

                    <div class="lead mb-4">
                        Played Games
                        <button @click="openModalGameAdd" class="btn btn-primary float-right">Add New Game</button>
                    </div>

                    <championship-games-list-all :main-route="mainRoute" :id="id"></championship-games-list-all>

                    <championship-games-add :main-route="mainRoute" :id="id"></championship-games-add>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'mainRoute',
            'id'
        ],
        data() {
            return {
                loading: false,
                data: {}
            }
        },
        mounted() {
            this.load()
        },
        methods: {
            load() {
                this.loading = true
                axios
                    .get('/championships/' + this.id)
                    .then(result => { this.data = result.data })
                    .finally(result => { this.loading = false })
            },
            remove() {
                if (confirm('Do you really want to delete?')) {
                    this.loading = true
                    axios
                        .delete('/championships/' + this.id)
                        .then(result => {
                            alert('Deleted')
                            window.location.href = this.mainRoute;
                        })
                        .finally(result => { this.loading = false })
                }
            },
            openModalGameAdd() {
                $('#openModalGameAdd').modal('show')
            }
        }
    }
</script>
