<template>
    <div>

        <!-- Loading -->
        <loading v-show="loading"></loading>

        <div class="row" v-show="!loading">
            <div class="col-sm-6 mb-4" v-for="item in data.games" :key="item.id">

                <div class="card" >
                    <div class="card-body text-center">
                        <h3>
                        <b>
                            <span v-bind:class="{
                                'text-success': item.team_a_goals > item.team_b_goals,
                                'text-danger': item.team_a_goals < item.team_b_goals,
                                'text-info': item.team_a_goals == item.team_b_goals
                            }">
                                {{ item.team_a.name }}
                            </span>

                            {{ item.team_a_goals }} x {{ item.team_b_goals }}

                            <span v-bind:class="{
                                'text-success': item.team_a_goals < item.team_b_goals,
                                'text-danger': item.team_a_goals > item.team_b_goals,
                                'text-info': item.team_a_goals == item.team_b_goals
                            }">
                                {{ item.team_b.name }}
                            </span>
                        </b>
                        </h3>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button" class="btn btn-danger btn-sm" @click="remove(item.id)">Delete Game</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    props: [
        'mainRoute',
        'id'
    ],
    data() {
        return {
            loading: false,
            data: {}
        }
    },
    mounted() {

        // listen to the on-screen team list
        this.$parent.$on('att-list-games', () => {
            this.load()
        })

        this.load()

    },
    methods: {
        load() {
            this.loading = true
            axios
                .get('/championships/' + this.id + '/games/all')
                .then(result => { this.data = result.data })
                .finally(result => { this.loading = false })
        },
        remove(game_id) {
            if (confirm('Do you really want to delete?')) {
                this.loading = true
                axios
                    .delete('/championships/' + this.id + '/games/' + game_id)
                    .then(result => {
                        this.load()
                    })
                    .finally(result => { this.loading = false })
            }
        }
    }
}
</script>

<style>

</style>
