<template>
    <div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a :href="mainRoute">Championships</a></li>
                            <li class="breadcrumb-item active">{{ data.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- NavBar-->
            <championship-navbar active="results" :main-route="mainRoute" :id="id"></championship-navbar>

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive" v-show="!loading">

                        <table class="table table-bordered table-hover">
                            <thead class="">
                                <tr>
                                    <th width="180px">Team</th>
                                    <th width="35px">Points</th>
                                    <th width="35px">Wins</th>
                                    <th width="35px">Draws</th>
                                    <th width="35px">Loses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in data.teams" :key="item.id">
                                    <th class="no-wrap">{{ item.name }}</th>
                                    <th class="">{{ item.points }}</th>
                                    <td class="">{{ item.win }}</td>
                                    <td class="">{{ item.draw }}</td>
                                    <td class="">{{ item.lose }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'mainRoute',
            'id'
        ],
        data() {
            return {
                loading: false,
                data: {}
            }
        },
        mounted() {
            this.load()
        },
        methods: {
            load() {
                this.loading = true
                axios
                    .get('/championships/' + this.id + '/results')
                    .then(result => { this.data = result.data })
                    .finally(result => { this.loading = false })
            },
        }
    }
</script>
