<template>
    <div v-if="validationErrors">
        <ul class="list-group mb-3">
            <li class="list-group-item list-group-item-danger" v-for="(value, key) in validationErrors" :key="key">{{ value }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    props: ['errors'],
    computed: {
        validationErrors(){
            let errors = Object.values(this.errors);
            errors = errors.flat();
            return errors;
        }
    }
}
</script>

<style>

</style>
