<template>
    <div>

        <div class="lead mb-3">
            Add Team
        </div>

        <div class="row">
            <div class="col-md-10">
                <!-- Select -->
                <multiselect v-model="value" :options="options" label="name" :searchable="true" :show-labels="false" class="mb-3"></multiselect>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-primary" :disabled="!value" @click="addTeam">Add Team</button>
            </div>
        </div>

        <!-- Loading -->
        <loading v-show="loading"></loading>


    </div>
</template>

<script>

export default {
    props: [
        'mainRoute',
        'id'
    ],
    data() {
        return {
            loading: false,
            data: {},
            value: null,
            options: []

        }
    },
    mounted() {

        // listen to the on-screen team list when remove team
        this.$parent.$on('remove-team-list', () => {
            this.load()
        })

        this.load()
    },
    methods: {
        load() {
            this.loading = true
            axios
                .get('/championships/' + this.id + '/teams/no-participanting')
                .then(result => {
                    this.data = result.data
                    this.options = result.data
                })
                .finally(result => { this.loading = false })
        },
        addTeam() {
            if (confirm('Do you really add team?')) {
                this.loading = true
                axios
                    .post('/championships/' + this.id + '/teams/participanting', this.value)
                    .then(result => {
                        this.value = null
                        this.load()
                        // update team list on screen
                        this.$parent.$emit('update-team-list');
                    })
                    .finally(result => { this.loading = false })
            }
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>

</style>
