<template>
    <div>

        <!-- Loading -->
        <loading v-show="loading"></loading>

        <div class="table-responsive" v-show="!loading">

            <table class="table table-bordered table-hover">
                <thead class="">
                    <tr>
                        <th>Team Name</th>
                        <th width="120px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in data.teams" :key="item.id">
                        <td class="no-wrap">{{ item.name }}</td>
                        <td class="no-wrap">
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group" role="group" aria-label="Group">
                                    <button type="button" class="btn btn-sm btn-danger" @click="remove(item.pivot.id)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</template>

<script>
export default {
    props: [
        'mainRoute',
        'id'
    ],
    data() {
        return {
            loading: false,
            data: {}
        }
    },
    mounted() {

        // listen to the on-screen team list
        this.$parent.$on('update-team-list', () => {
            this.load()
        })

        this.load()

    },
    methods: {
        load() {
            this.loading = true
            axios
                .get('/championships/' + this.id + '/teams/participanting')
                .then(result => { this.data = result.data })
                .finally(result => { this.loading = false })
        },
        remove(team_championship_id) {
            if (confirm('Do you really want to delete?')) {
                this.loading = true
                axios
                    .delete('/championships/' + this.id + '/teams/participanting/' + team_championship_id)
                    .then(result => {
                        this.load()
                        // update team list on screen when delete team
                        this.$parent.$emit('remove-team-list');
                    })
                    .finally(result => { this.loading = false })
            }
        }
    }
}
</script>

<style>

</style>
