<template>
    <div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Championships</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <!-- Loading -->
                    <loading v-show="loading"></loading>

                    <div class="text-right mb-3">
                        <a :href="mainRoute + '/create'" class="btn btn-primary">New Championship</a>
                    </div>

                    <div class="table-responsive" v-show="!loading">

                        <table class="table table-bordered table-hover">
                            <thead class="">
                                <tr>
                                    <th width="100px">#</th>
                                    <th>Name</th>
                                    <th width="120px">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in paginate.data" :key="item.id">
                                    <th class="no-wrap">{{ item.id }}</th>
                                    <td class="no-wrap">{{ item.name }}</td>
                                    <td class="no-wrap">
                                        <div class="btn-toolbar justify-content-between">
                                            <div class="btn-group" role="group" aria-label="Group">
                                                <a :href="mainRoute + '/' + item.id" class="btn btn-sm btn-secondary">Details</a>
                                                <a :href="mainRoute + '/' + item.id + '/edit'" class="btn btn-sm btn-info">Edit</a>
                                                <button type="button" class="btn btn-sm btn-danger" @click="remove(item.id)">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <pagination :data="paginate" @pagination-change-page="load" align="center"></pagination>

                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'mainRoute'
        ],
        data() {
            return {
                loading: false,
                paginate: {}
            }
        },
        mounted() {
            this.load()
        },
        methods: {
            load(page = 1) {
                this.loading = true
                axios
                    .get('/championships?page=' + page)
                    .then(result => { this.paginate = result.data })
                    .finally(result => { this.loading = false })
            },
            remove(id) {
                if (confirm('Do you really want to delete?')) {
                    this.loading = true
                    axios
                        .delete('/championships/' + id)
                        .then(result => {
                            this.load()
                        })
                        .finally(result => { this.loading = false })
                }
            }
        }
    }
</script>
