<template>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: active == 'about' }" :href="mainRoute + '/' + id">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: active == 'teams' }" :href="mainRoute + '/' + id + '/teams'">
                Participating Teams
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: active == 'games' }" :href="mainRoute + '/' + id + '/games'">
                Games
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: active == 'results' }" :href="mainRoute + '/' + id + '/results'">
                Results
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    props: [
        'mainRoute',
        'id',
        'active'
    ]
}
</script>

<style>

</style>
