<template>
    <div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a :href="mainRoute">Teams</a></li>
                            <li class="breadcrumb-item active">New Team</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <!-- Loading -->
                    <loading v-show="loading"></loading>

                    <!-- Form Error -->
                    <form-error :errors="validationErrors" v-if="validationErrors"></form-error>

                    <!-- Form -->
                    <form @submit.prevent="save" novalidate="true">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" v-model="form.name" class="form-control" placeholder="Choose the name of the team">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <!-- EndForm -->

                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    props: [
        'mainRoute'
    ],
    data() {
        return {
            loading: false,
            validationErrors: '',
            form: {
                name: null
            }
        }
    },
    methods: {
        save() {
            this.loading = true
            axios
                .post('/teams', this.form)
                .then(result => {
                    this.validationErrors = '';
                    window.location.href = this.mainRoute + '/' + result.data.id;
                })
                .catch(error => {
                    if (error.response.status == 422){
                        this.validationErrors = error.response.data.errors;
                    }
                })
                .finally(result => { this.loading = false })
        }
    }
}
</script>

<style>

</style>
