<template>
    <div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a :href="mainRoute">Teams</a></li>
                            <li class="breadcrumb-item active">{{ data.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <!-- Loading -->
                    <loading v-show="loading"></loading>

                    <div class="table-responsive" v-show="!loading">

                        <table class="table table-striped table-bordered">
                            <tr>
                                <td width="200px"><b>Name</b></td>
                                <td>{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td width="200px"><b>Created</b></td>
                                <td>{{ data.created_at }}</td>
                            </tr>
                            <tr>
                                <td width="200px"><b>Updated</b></td>
                                <td>{{ data.updated_at }}</td>
                            </tr>
                        </table>

                    </div>

                    <!-- Links -->
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group" role="group" aria-label="Group">
                            <a :href="mainRoute + '/' + id + '/edit'" class="btn btn-info">Edit</a>
                            <button type="button" class="btn btn-danger" @click="remove">Delete</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'mainRoute',
            'id'
        ],
        data() {
            return {
                loading: false,
                data: {}
            }
        },
        mounted() {
            this.load()
        },
        methods: {
            load() {
                this.loading = true
                axios
                    .get('/teams/' + this.id)
                    .then(result => { this.data = result.data })
                    .finally(result => { this.loading = false })
            },
            remove() {
                if (confirm('Do you really want to delete?')) {
                    this.loading = true
                    axios
                        .delete('/teams/' + this.id)
                        .then(result => {
                            alert('Deleted')
                            window.location.href = this.mainRoute;
                        })
                        .finally(result => { this.loading = false })
                }
            }
        }
    }
</script>
